<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="2 minutes">
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"app_name":"new-project","log_type":"app"}</customFields>
			<timeZone>UTC</timeZone>

		</encoder>
	</appender>

	<appender name="dailyRollingFileAppender"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/new-project.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>logs/new-project.%d{dd-MM-yyyy}.%i.log</FileNamePattern>
			<maxFileSize>100mb</maxFileSize>
			<!-- keep 15 days' worth of history -->
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"app_name":"new-project","log_type":"app"}</customFields>
			<includeCallerData>true</includeCallerData>
			<timeZone>UTC</timeZone>

		</encoder>
	</appender>

	<logger name="com.peoplehum.urlshortener" level="INFO" additivity="false">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="dailyRollingFileAppender" />
	</root>

</configuration>
